* {
  box-sizing: border-box;
  font-family: monospace;
}

body {
  margin: 0;
  background-color: #333;
  display: flex;
  align-items: center;
  font-size: 3rem;
  flex-direction: column;
  color: white;
}

.title {
  margin: 20px;
}

.subtext {
  color: #CCC;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.board {
  display: inline-grid;
  padding: 10px;
  grid-template-columns: repeat(var(--size), 60px);
  grid-template-rows: repeat(var(--size), 60px);
  gap: 4px;
  background-color: #777;
}

.board > * {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: 2px solid #BBB;
  user-select: none;
  cursor: pointer;
}

.board > [data-status="hidden"] {
  background-color: #BBB;
  cursor: pointer;
}

.board > [data-status="mine"] {
  background-color: darkred;
}

.board > [data-status="number"] {
  background-color: none;
}

.board > [data-status="marked"] {
  background-color: yellow;
}

.restart-button {
  padding: 10px;
  margin-top: 20px;
  font-size: 16px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bolder;
  letter-spacing: 1px;
  transition: 0.2s;
}

.restart-button:hover {
  background: #333;
  color: aliceblue;
}

footer {
  font-size: 14px;
  margin-top: 40px;
}

footer a {
  color: aquamarine;
}

@media screen and (max-width: 450px) {
  .board {
    grid-template-columns: repeat(var(--size), 30px);
    grid-template-rows: repeat(var(--size), 30px);
  }
}